.hero{
    position: relative;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 4%;
    bottom: 0;
}
.caption-img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-butttons{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero-butttons .btn img{
    width: 25px;
}
.hero-butttons .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.hero-butttons .btn.dark-btn{
    background: #6d6d63b3;
    color: white;
}
.hero-butttons .btn:hover{
    background: #ffffffbf;
}
.hero-butttons .btn.dark-btn:hover{
    background: #6d6d6366;
}

.more-cards{
    padding-left: 6%;
}